<!-- import categories macro -->
{% import 'macros/categories.html' as macro %}

<div class="card filter-card shadow">
  <div class="card-body mt-2">
    <p class="card-title custom-bold-title">Pitch Categories</p>
    {% if categories %}

    <div class="mx-2">{{macro.listCategories(categories)}}</div>

    {% else %}

    <p class="custom-bold-subtitle text-center mb-0">
      There are no categories to show
    </p>

    {% endif %}
  </div>

  <hr class="mx-auto w-75 card-divider" />

  <div class="card-body mt-2">
    <p class="card-title custom-bold-title">Order By:</p>
    <div class="list-group">
      <a
        href="/sort/newest"
        class="list-group-item list-group-item-action custom-bold-body my-0 border-0"
      >
        Most Recent
      </a>
      <a
        href="/sort/popular"
        class="list-group-item list-group-item-action custom-bold-body border-0"
      >
        Most Popular
      </a>
      <a
        href="/filter/comments"
        class="list-group-item list-group-item-action custom-bold-body border-0"
      >
        Most Commented
      </a>
    </div>
  </div>
</div>
