<!-- import wtf form -->
{% import 'bootstrap/wtf.html' as wtf %}
<!-- start of content block -->
<div class="card user-pitch-card shadow">
  <div class="card-body d-flex justify-content-center flex-column mt-2">
    <img
      src="{{url_for('static',filename=user.avatar)}}"
      alt=""
      class="large-avatar rounded-circle img-fluid mb-3"
    />
    <p class="card-text text-center custom-bold-subtitle">{{user.username}}</p>
    <a href="/profile" class="login-button text-center mx-auto">profile</a>
  </div>

  <hr class="mx-auto w-75 card-divider" />

  <div class="card-body my-2">
    <form method="POST" class="pitch-form" action="{{url_for('main.index')}}">
      {{form.csrf_token()}}
      <!-- email input -->
      {{wtf.form_field(form.new_pitch, class='form-control form-control-sm
      custom-input', placeholder ='type your pitch here...', rows ='5')}}

      <!-- password input  -->
      {{wtf.form_field(form.category, class='form-control form-control-sm
      custom-input', placeholder ='At least 8 character')}}

      <div class="sign-form-button">
        <button type="submit" class="login-button">post</button>
      </div>
    </form>
  </div>
</div>
