<!-- import wtf form -->
{% import 'bootstrap/wtf.html' as wtf %}

<div class="card filter-card shadow">
  <div class="card-body mx-0">
    <!-- <p class="custom-bold-title text-center">Update Biography</p> -->
    <form method="POST" class="">
      {{form.csrf_token()}}
      <!-- email input -->
      {{wtf.form_field(bio_form.new_biography, class='form-control
      form-control-sm custom-input w-100', placeholder ='write something...',
      rows=5)}}

      <div class="profile-form-button">
        <button type="submit" class="login-button">save</button>
      </div>
    </form>
  </div>
</div>
