<div class="card shadow">
  <div class="card-body my-2">
    <p class="card-title custom-bold-title">Pitch Perfect</p>
    <p class="card-text custom-bold-subtitle">
      The prefect place to get honest feedback on you pitches
    </p>
    <p class="card-text custom-body">Here are Pitch Perfect we believe that</p>
  </div>

  <div class="card-body my-2">
    <p class="class-title custom-bold-title">Shoot your shot</p>
    <p class="card-text custom-body">
      All you need is an email and a string password to get started.
      <br /><br />
      If you already have an account, click on login to continue.
    </p>
    <div class="row">
      <button class="register-button">Create account</button>
      <button class="login-button">Login</button>
    </div>
  </div>
</div>
