.register-button {
  border-radius: 10px;
  border: #2f5c75 solid 1px;
  background-color: #2f5c75;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  width: 100px;
  height: 24px;
  text-decoration: none !important;
}

.register-button:hover {
  text-decoration: none !important;
  color: #ffffff;
  background-color: #14425a;
  transition: 500ms ease-in;
}

.login-button {
  border-radius: 10px;
  border: #d0d9dd solid 1px;
  background-color: #8b9da5;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  width: 100px;
  height: 24px;
  text-decoration: none !important;
}

.login-button:hover {
  text-decoration: none !important;
  color: #ffffff;
  background-color: #375c6b;
  transition: 500ms ease-in;
}
