.card-divider {
  border: solid 0.5px #2f5c75;
}

.welcome-card {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  text-align: center;
}

.welcome-card-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: auto;
}

.filter-card {
  border-radius: 20px;
}

.user-pitch-card {
  border-radius: 20px;
  width: 250px;
}

.user-info-card {
  border-radius: 20px;
  width: 300px;
}

.user-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
