.sign-form {
  margin: 0 auto;
  width: 300px;
}

.sign-form-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.sign-form-button {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.custom-input {
  border-radius: 20px !important;
  margin: 0 5px;
  width: 100%;
  border: 1px solid #80a6ba !important;
}
