.landing-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.4fr;
  grid-template-rows: 1fr;
  grid-template-areas: "left center right";
}

.left-column {
  grid-area: left;
}

.center-column {
  grid-area: center;
}

.right-column {
  grid-area: right;
}
