.custom-navbar {
  background-color: #ffffff;
}

.custom-brand {
  color: #2f5c75 !important;
  font-weight: 700;
  font-size: 18px;
}

.custom-link {
  color: #80a6ba !important;
  font-weight: 700;
  font-size: 16px;
}

.custom-link:hover {
  color: #2f5c75 !important;
  transition: 500ms ease-in-out;
}
