{% macro list_pitches(pitch_list) %}

<!-- Start of for block -->
{% for item in pitch_list %}

<div class="media card shadow mx-auto pitch-card">
  <div class="media-body">
    <div class="pitch-card-header">
      <div class="row d-flex align-items-center">
        <img
          src="{{url_for('static',filename=item.avatar)}}"
          class="mr-1 ml-2 my-auto rounded-circle small-avatar"
          alt="..."
        />
        <div class="col">
          <p class="custom-bold-title my-0">{{item.username}}</p>
          <p class="custom-sub-body my-0">{{item.category}}</p>
        </div>
      </div>
      <p class="custom-sub-body">{{item.created_on}}</p>
    </div>
    <div class="pitch-card-body mx-4 d-flex justify-content-center">
      <p class="custom-body">{{item.body}}</p>
    </div>
    <div class="pitch-card-actions mx-3">
      <button class="pitch-card-action-button">
        <i class="fas fa-heart red-shade"
          ><span class="custom-bold-body my-auto"> ({{item.up_votes}})</span></i
        >
      </button>

      <button class="pitch-card-action-button">
        <i class="fas fa-heart-broken red-shade"
          ><span class="custom-bold-body my-auto">
            ({{item.down_votes}})</span
          ></i
        >
      </button>

      <button
        class="pitch-card-action-button"
        data-toggle="collapse"
        href="#comments_list"
        role="button"
        aria-expanded="false"
        aria-controls="comments_list"
      >
        <i class="fas fa-comment primary-shade"
          ><span class="custom-bold-body my-auto">
            ({{item.comment_count}})</span
          ></i
        >
      </button>
      <div class="collapse" id="collapseExample">
        <ul class="list-group">
          <li class="list-group-item">
            {% for comment in item.comments %}
            <div class="media m-2">
              <div class="media-body">
                <p class="custom-body-bold">{{comment.username}}</p>
                <p class="custom-sub-body">{{comment.comment}}</p>
              </div>
            </div>
            {% endfor %}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endfor %}
<!-- end of for block -->

{% endmacro %}
<!-- end of macro -->
