{% macro list_pitches(pitch_list) %}

<!-- Start of for block -->
{% for item in pitch_list %}

<div class="media card shadow mx-auto pitch-card">
  <div class="media-body">
    <div class="pitch-card-header">
      <div class="row d-flex align-items-center">
        <img
          src="{{url_for('static',filename=item.avatar)}}"
          class="mr-1 ml-2 my-auto rounded-circle small-avatar"
          alt="..."
        />
        <div class="col">
          <p class="custom-bold-title my-0">{{item.username}}</p>
          <p class="custom-sub-body my-0">{{item.category}}</p>
        </div>
      </div>
      <p class="custom-sub-body">{{item.created_on}}</p>
    </div>
    <div class="pitch-card-body mx-4 d-flex justify-content-center">
      <p class="custom-body">{{item.body}}</p>
    </div>
    <div class="pitch-card-actions mx-3">
      <a href="/pitch/{{item.id}}" class="pitch-card-action-button">
        <i class="fas fa-comment primary-shade mx-2">
          <span class="custom-bold-body">View Comments</span></i
        >
      </a>
    </div>
  </div>
</div>

{% endfor %}
<!-- end of for block -->

{% endmacro %}
<!-- end of macro -->
