{% extends 'base.html' %}
<!-- import pitches macro -->
{% import 'macros/pitches.html' as macro %}
<!-- start of content block -->
{% block content %}

<div class="container-fluid mt-3 landing-container">
  <div class="left-column">
    <!-- start of if block -->
    {% if authenticated %} {% include 'cards/pitch_item_card.html' %}

    <!-- start of else block -->
    {% else %} {% include 'cards/welcome_card.html' %}

    <!-- end of if block -->
    {% endif %}
  </div>

  <div class="center-column">
    <!-- start of if block -->
    {% if pitches %}

    <!-- list  pitches -->
    {{marco.list_pitches(pitches)}}

    <!-- check if user if user is authenticated -->
    {% elif authenticated %}

    <p class="custom-bold-subtitle text-center">
      There are no pitches. Be the first to post your pitch
    </p>

    {% else %}
    <p class="custom-bold-subtitle text-center">
      There are no pitches. Create an account or login to post a pitch
    </p>

    <!-- end of if block -->
    {% endif %}
  </div>

  <div class="right-column">
    <!-- start of if block -->
    {% include 'cards/filter_card.html' %}
  </div>
</div>
<!-- end of content block -->
{% endblock %}
